.container-register,
#container-choice-specialty-datatable {
    box-shadow: 2px 3px 10px -3px rgba(0, 0, 0, 0.1), -2px -2px 10px -3px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;
    margin: 10px 10px 20px 10px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    border-bottom: solid 1px #eae4e4;
}

.title {
    color: #a3a3a3;
    font-weight: bold;
}

.container-input {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
}

.label-input,
.count-caracter {
    color: #acadad;
}

.input-form {
    border-radius: 5px;
    height: 42px;
    max-width: 284px;
    padding-left: 9px;
    margin-top: 4px;
    border: solid 1px #eaeaea;
}

.input-form:focus-visible {
    border: solid 1px #acadad;
    outline: none;
}

.count-caracter {
    font-size: 12px;
}

.container-check {
    margin: 10px;
}

.container-buttons-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-custom {
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    height: 40px;
    border: none;
}

#button-cancel-create,
#modal-button-edit-cancel,
#button-cancel-add-specialty {
    background-color: #ebf6f9;
    color: #acadad;
}

#button-cancel-create:hover,
#modal-button-edit-cancel:hover,
#button-cancel-add-specialty:hover {
    background-color: #acadad;
    color: #ffffff;
}

#button-save-create,
#button-create,
#modal-button-edit-save,
#button-save-add-specialty, #button-open-vinculo {
    background-color: #1c388b;
    color: #FFFFFF;
}

#button-save-create:hover,
#button-create:hover,
#modal-button-edit-save:hover,
#button-save-add-specialty:hover, #button-open-vinculo:hover {
    background-color: #118fb8;
    color: #FFFFFF;
}

.container-update-specialty {
    border-bottom: solid 1px #eae4e4;
    margin: 10px;
}

.container-list-specialty-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4px;
}

.list-specialty-title {
    color: #a3a3a3;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.icon-add-specialty {
    background-color: #1c388b;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-add-specialty:hover {
    background-color: #118fb8;
}

.icon-add-specialty svg {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(231deg) brightness(107%) contrast(101%);
}